@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
    box-sizing: border-box;
}

body { margin: 10px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* NAVBAR */
ul.navbar {
    list-style-type: none;
    margin: 5px;
    width: 175px;
    background-color: #607D8B;
    height: calc(100% - 10px);
    font-family: "Roboto", sans-serif;
    padding: 10px 10px 10px 10px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
}
li a {
    display: block;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
}
li a.active {
    background-color: #546E7A;
    color: #ffffff;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #ffffff;
    color: #000000;
}
.navicon {
    width: 20px;
    height: auto;
    vertical-align: baseline;
    padding-right: 20px;
}

/* HEADER */
.header, .footer {
    background-color: #455A64;
    color: #ffffff;
    text-align: center;
    padding: 10px 0px 10px 0px; /* top, right, bottom, left */
    margin: 5px;
    font-family: "Roboto", sans-serif;
    width: calc(100% - 190px);
    position: fixed;
    right: 0;
}
.header {
    top: 0;
}
.footer {
    bottom: 0;
}

/* MAIN BODY */
.maincontent {
    margin-left: 200px;
    /*padding: 20px;*/
    /*height: 500px;*/
    margin-top: 110px;
    top: 0;
}

/* TEXT */
.maintext {
    font-family: "Roboto", sans-serif;
    color: #212121;
}
h1.header {
    font-family: "Roboto", sans-serif;
    color: #212121;
}
