@import 'variables';

.case-container {
    margin-top: -155px;
    padding-top: 155px;
    height: calc(100vh - 135px);

    background-color: $blue;

    .bkg {
        height: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom;
    }

    h3, h4, h5 {
        margin: 0;
    }
    h3 {
        font-family: $fontX;
        font-size: 30px;
        font-weight: 300;
        color: $body-text;
        font-style: italic;
        margin-left: 40px;
    }
    h4 {
        font-family: $fontH;
        font-size: 30px;
        font-weight: 400;
        color: $body-text;
        margin-left: 40px;
    }
    h5 {
        font-family: $fontH;
        font-size: 20px;
        font-weight: 400;
        color: $body-text;
    }
}

.case-container#bottom {
    margin-top: -331px;
    padding-top: 331px;
    height: calc(100vh);
    background-color: rgba(26, 29, 60, 0.5);
}

.case-container#top {
    height: calc(100% - 64px);
}

.color-palette {
    margin: 0;
    margin-left: 80px;
    padding: 0;
    list-style: none;
    width: 50%;
    min-width: 200px;

    li {
        font-family: $fontB;
        font-weight: 300;
        padding: 10px 20px;
        margin-bottom: 10px;
    }
}

#lockup1 {
    color: $body-text;
    background-color: #114B5F;
}
#lockup2 {
    color: $body-text;
    background-color: #1A936F;
}
#lockup3 {
    color: $blue;
    background-color: #88D498;
}
#lockup4 {
    color: $blue;
    background-color: #C6DABF;
}
#lockup5 {
    color: $blue;
    background-color: #FF6767;
}
#lockup6 {
    color: $blue;
    background-color: #F3E9D2;
}
#lockup7 {
    color: $blue;
    background-color: #FFFFFF;
}

.description {
    width: 50%;
    min-width: 200px;
    margin-left: 40px;

    img {
        width: 100%;
        height: auto;
    }

    .fonts {
        margin: 0;
        padding: 0;
        list-style: none;
        
        #title {
            font-family: "Chivo", sans-serif;
            font-size: 15pt;
            color: #F3E9D2;
        }
        #emphasis {
            font-family: "Roboto", sans-serif;
            font-size: 13pt;
            color: #FFF;
        }
        #body {
            font-family: "Roboto Light", sans-serif;
            font-size: 13pt;
            color: #FFF;
        }
    }
}

.vert {
    height: calc(100% - 64px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery {
    img {
        width: 100%;
        height: auto;
    }

    .row > .column {
        padding: 0 8px;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .column {
        float: left;
        width: 25%;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 999;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        overflow: auto;
        background-color: rgba(26, 29, 60, 0.95);
    }

    .modal-content {
        position: relative;
        background-color: $blue;
        margin: auto;
        padding: 0;
        height: 90%;
        max-height: 600px;

        .mySlides {
            height: 100%;

            img {
                height: 100%;
                width: auto;
                margin: 0 auto;
            }
        }
    }

    .close {
        color: #fff;
        position: absolute;
        top: 10px;
        right: 25px;
        font-size: 35px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: $yellow;
        text-decoration: none;
        cursor: pointer;
    }

    .mySlides {
        display: none;
        text-align: center;
    }

    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width:  auto;
        padding: 16px;
        margin-top: -50px;
        color: #fff;
        font-weight: bold;
        font-size: 20px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        -webkit-user-select: none;
    }

    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    .prev:hover, .next:hover {
        background-color: $yellow;
    }

    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
        font-family: $fontB;
    }

    .caption-container {
        text-align: center;
        background-color: $blue;
        padding: 2px 16px;
        color: #fff;
        font-family: $fontB;
    }

    img.demo {
        opacity: 0.6;
    }

    img.active, .demo:hover {
        opacity: 1;
    }

    .preview {
        height: 100%;
        max-height: calc(100vh - 755px);
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: 100%;
            width: auto;
        }
    }
}

.lu-info {
    margin-right: 20px;

    display: flex;
    align-items: center;

    p {
        float: left;
        margin: 0 0 20px 80px;
        padding: 0 20px 0 40px;
        border-left-style: solid;
        border-left-width: 10px;
        border-left-color: $yellow;

        font-family: $fontB;
        font-weight: 300;
        font-size: 18px;
        color: $body-text;
    }

    img {
        display: block;
        margin: 0 auto;
        width: auto;
        height: auto;
        max-height: 200px;

        box-shadow: 10px 10px 0 $yellow;
    }

    button {
        display: block;
        margin: 0 auto;

        background-color: $yellow;
        border: none;
        padding: 20px;
        text-align: center;
        font-size: 20px;

        a:link {
            color: $blue;
        }
        a:visited {
            color: $blue;
        }
        a:active {
            color: $blue;
        }
    }
}