@import 'variables';

.navbar {
    width: 100%;
    position: relative;
    z-index: 99;
    margin: 0;
    .wrap {
        display: flex;
        width: 100%;
        margin: 0;
        padding-left: 80px;
        background-color: $blue;
        .nav {
            padding: 40px 0;
            &.hidden {
                display: inline;
            }
            .nav-items {
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 18px;
                font-weight: 300;
                .item{
                    text-align: center;
                    a{
                    font-family: $fontH;
                    color: #fff;
                    text-decoration: none;
                    font-size: 20px;
                        &:hover{
                            color: $yellow;
                        }
                    }
                    #logo{
                    color: #fff;
                    margin: 0;
                    font-family: $fontH;
                    font-size: 30px;
                    }
                }
            }
        }
    }
}

.content {
    height: 100%;
    min-height: calc(100vh - 331px);
    width: 100%;
    margin: 0 auto;
    max-width: 1440px;
    .about-list {
        margin: 0;
        padding: 0;
        list-style: none;

        border-left-style: solid;
        border-left-width: 10px;
        border-left-color: $yellow;
        li {
            font-family: $fontB;
            color: $body-text;
            font-size: 18px;
            font-weight: 400;
            padding-left: 40px;
            padding-bottom: 10px;
            line-height: 1.5em;
        }
    }
    #desc {
        p {
            font-family: $fontB;
            color: $body-text;
            font-size: 30px;
            font-weight: 400;
            margin: 0;
            padding-left: 90px;
        }
    }
    .subtitle {
        h3 {
            font-family: $fontB;
            color: $body-text;
            font-size: 30px;
            font-weight: 400;
            margin: 0;
            padding: 0;
        }
    }
    a{
        text-decoration: none;
    }
    a:link {
        color: $body-text;
    }
    a:visited {
        color: $body-text;
    }
    a:hover {
        color: $yellow;
    }
    a:active {
        color: $yellow;
    }
}

.divide-tiny {
    width: 100%;
    height: 20px;
}
.divide-sm {
    width: 100%;
    height: 40px;
}
.divide-md {
    width: 100%;
    height: 60px;
}
.divide-lg {
    width: 100%;
    height: 80px;
}
.divide-hd {
    width: 100%;
    height: 116px;
}

.title-wrapper {
    width: 100%;
    z-index: 1;
    position: relative;
    .title {
        display: inline-block;
        background-color: $blue;
        text-align: right;
        width: 40%;
    }
    h1 {
        font-family: $fontH;
        font-size: 80px;
        font-weight: 400;
        margin: 0;
        color: $yellow;
        padding: 10px 40px 10px 0;
    }
}

.exp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle {
    ul {
        margin: 0;
        margin-right: 100px;
        padding: 0;
        color: #fff;
        list-style-type: none;
    }
    li {
        display: inline;
        padding: 0 40px;
    }
    a {
        font-family: $fontH;
        font-size: 30px;
        font-weight: 400;
        text-decoration: none;
        color: $body-text;
    }
    #active {
        padding-bottom: 10px;
        border-bottom-style: solid;
        border-bottom-width: 5px;
        border-bottom-color: $yellow;
    }
}

#portrait {
    padding: 0;
    margin: 0;
    height: calc(100vh - 331px);
    width: auto;
    filter: drop-shadow(10px 0 0 $yellow);
}

.contact-list {
    margin: 0;
    margin-left: 60px;
    padding: 0;
    tr {
        td {
            padding: 0 20px 20px;;
            img {
                height: 100px;
                width: auto;
            }
            p {
                font-family: $fontB;
                color: $body-text;
                font-size: 25px;
                font-weight: 400;
            }
        }
    }
}

.input-box {
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0;
    margin-bottom: 50px;

    border-left-style: solid;
    border-left-width: 10px;
    border-left-color: $yellow;

    input {
        width: calc(100% - 40px);
        height: 100%;
        padding-left: 40px;
        margin-left: 40px;

        border: none;

        background-color: $blue;
        color: $body-text;

        font-family: $fontB;
        font-size: 20px;
        font-weight: 400;
    }
}

.message-box {
    width: 100%;
    height: 180px;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;

    border-left-style: solid;
    border-left-width: 10px;
    border-left-color: $yellow;

    textarea {
        width: calc(100% - 40px);
        height: 100%;
        padding-left: 40px;
        padding-top: 20px;
        margin-left: 40px;

        border: none;
        background-color: $blue;
        color: $body-text;
        
        font-family: $fontB;
        font-size: 20px;
        font-weight: 400;
    }
}

input[type=submit] {
    float: right;
    margin: 0;
    padding: 10px 20px;
    background-color: $yellow;
    border: none;
    text-decoration: none;
    cursor: pointer;

    color: $blue;
    font-family: $fontB;
    font-weight: 400;
    font-size: 15px;
}

.widget {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    width: 750px;
    height: 170px;

    background-origin: content-box;
    background-clip: content-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .banner {
        width: 100%;
        height: 100%;
        background-color: rgba(26, 29, 60, .5);
        display: flex;
        align-items: center;
        .icon {
            height: 100%;
            width: 170px;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                height: 80%;
                width: auto;
                margin: 0 auto;
            }
        }
        h3, h4, p {
            margin: 5px 0;
        }
        h3 {
            font-family: $fontB;
            font-size: 40px;
            font-weight: 400;
            color: $yellow;
        }
        h4 {
            font-family: $fontX;
            font-size: 30px;
            font-weight: 300;
            color: $body-text;
            font-style: italic;
        }
        p {
            font-family: $fontB;
            font-size: 16px;
            font-weight: 400;
            color: $body-text;
        }
    }
}

.left {
    float: left;
    padding-left: 40px;
    border-left-style: solid;
    border-left-width: 10px;
    border-left-color: $yellow;
}
.right {
    float: right;
    padding-right: 40px;
    border-right-style: solid;
    border-right-width: 10px;
    border-right-color: $yellow;
    h3, h4, p {
        text-align: right;
    }
}
.banner-right {
    justify-content: right;
}
#lockup-banner {
    background-image: url('../img/banner/lockup.png');
}
#video-banner {
    background-image: url('../img/banner/video.png');
}
#photo-banner {
    background-image: url('../img/banner/photo.png');
}
#avionics-banner {
    background-image: url('../img/banner/avionics.png');
}
#rocksat-banner {
    background-image: url('../img/banner/rocksat.png');
}
#walpyrss-banner {
    background-image: url('../img/banner/walpyrss.png');
}
#blackjackjs-banner {
    background-image: url('../img/banner/blackjack.png');
}