// GRID
/*  DEFAULT SETTINGS:
        MOBILE: 600px & below
        TABLET: 600px - 900px
        DSKTOP: 900px & up
*/
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/***** GRID *****/
.column {
    float:left;
}

.nofloat {
    float:none;
}

.column.full {
    width:100%;
}

.column.twothirds {
    width:66.666666%;
}

.column.threefourths {
    width:75%;
}
.column.fourfifths {
    width:80%;
}
.column.fivesixths {
    width:83.333333%;
}
.column.threequarter {
    width:75%;
}
.column.half {
    width:50%;
}
.column.third {
    width:33.333333%;
}
.column.fourth {
    width:25%;
}
.column.fifth {
    width:20%;
}
.column.sixth {
    width:16.666666%;
}
.column.navwidth {
    width:40%;
}


/***** TOOLS *****/
.center {
    float:none;
    margin:auto;
}

.nospace {
    padding:0 !important;
    margin:0 !important;
}

.flowopposite {
    float:right;
}

.nopadding {
    padding:0 !important;
}

.clearall {
    clear:both;
}
