@import 'variables';

header{
  width: 100%;
  position: relative;
  z-index: 99;
  margin: 0;
  .wrap{
    display: flex;
    width: 100%;
    margin: 0;
    padding-left: 80px;
    .nav{
      background-color: $blue;
      padding: 40px 0;
      &.hidden{
        display: inline;
      }
      &.home {
        background-color: transparent;
        //padding-top: 80px;
      }
      .nav-items{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 18px;
        font-weight: 300;
        .item{
          text-align: center;
          a{
            font-family: $fontH;
            color: $body-text;
            text-decoration: none;
            font-size: 20px;
            &:hover{
              color: $yellow;
            }
          }
          #logo{
            color: $body-text;
            margin: 0;
            font-family: $fontH;
            font-size: 30px;
          }
        }
      }
    }
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $blue;
}

.sticky+.clearall+.hero {
  padding-top: 116px;
}

.sticky+.clearall+.divide-md{
  padding-top: 176px;
}